@use  "./utilities/backround";
@use  "./utilities/text";
@use  "./utilities/border";
@use  "./utilities/textTitle";
@use  "./components/swiper-custom.scss";
@use  "./components/scroll-custom.scss";
@use  "./components/mobile-menu.scss";
@use  "./components/leading-page.scss";
