@use "../abstracts/colors" as *;

.swiper-button-next,
.swiper-button-prev {
  border: 2px solid $accent-50;
  border-radius: 9999px;
  background: transparent;
  color: $primary-50 !important;
  transition: all 0.3s ease;
  padding: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-color: $primary-400 !important;
  color: $primary-100 !important;
  background: $primary-600;
}

.swiper-slide .cardproduct {
  background: white !important;
}

.product-swiper-main .swiper-button-next,
.product-swiper-main .swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: scale(0.8);
}

.product-swiper-main .swiper-button-next:after,
.product-swiper-main .swiper-button-prev:after {
  font-size: 16px;
}

.product-swiper-main .swiper-pagination-bullet-active {
  background: #8f593b;
}

/* Style cho ảnh thu nhỏ */
.thumbs-swiper .swiper-slide {
  opacity: 0.6;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbs-swiper .swiper-slide-thumb-active div {
  border-color: #8f593b !important;
  /* Màu của primary-600 */
}