@use "../abstracts/colors" as *;

 
.bg-banner {
    background: url(/assets/images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-blogPage {
    background: url(/assets/images/bg-blogPage.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-bannerSection {
  position: relative;
  background: url(/assets/images/7f94849d8e8cb55e5d838a5bf3f187c61.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      $primary-600
    );
    z-index: 1;
  }
}

 .bg-bannerSection > * {
  position: relative;
  z-index: 2;
}

.bg-danger{
    background: $danger;
}

.bg-surface-50 {
    background-color: $surface-50;
}

.bg-button-gradient {
    background: linear-gradient(162deg, rgba(255, 255, 255, 0.32) 7.03%, rgba(255, 255, 255, 0.08) 89.47%);
}

.bg-primary-50 {
    background-color: $primary-50;
}

.bg-primary-100 {
    background-color: $primary-100;
}

.bg-primary-200 {
    background-color: $primary-200;
}

.bg-primary-300 {
    background-color: $primary-300;
}

.bg-primary-400 {
    background-color: $primary-400;
}

.bg-primary-500 {
    background-color: $primary-500;
}

.bg-primary-600 {
    background-color: $primary-600;
}

.bg-primary-700 {
    background-color: $primary-700;
}

.bg-primary-800 {
    background-color: $primary-800;
}

.bg-primary-900 {
    background-color: $primary-900;
}

.bg-surface-50 {
    background-color: $surface-50;
}

.bg-surface-100 {
    background-color: $surface-100;
}

.bg-surface-300 {
    background-color: $surface-300;
}

.bg-accent-600 {
    background-color: $accent-600;
}

.bg-accent-200 {
    background-color: $accent-200;
}
.bg-accent-100 {
    background-color: $accent-100;
}

.bg-accent-300 {
    background-color: $accent-300;
}

.bg-accent-600:hover {
    background-color: $accent-700;
}

.bg-accent-700 {
    background-color: $accent-700;
}

.bg-accent-700:hover {
    background-color: $accent-800;
}

.bg-secondary{
    background: $text-secondary;
}