@import '../abstracts/colors';

.border-primary {
    border-color: $primary-500;
}
.border-3-primary-700 {
     border: 3px solid $primary-700;
}
.border-secondary {
    border-color: $surface-100;
}

.border-text-heading {
    border-color: $text-heading;
}

.border-text-primary {
    border-color: $text-primary;
}

.border-text-secondary {
    border-color: $text-secondary;
}
.border-accent-600 {
    border-color: $accent-600;
}