@import '../abstracts/colors';

.text-heading {
    color: $text-heading;
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}

.text-on-primary {
    color: $text-on-primary;
}

.text-accent-500 {
    color: $accent-500;
}
.text-accent-600 {
    color: $accent-600;
}
.text-accent-600-hover:hover {
    color: $accent-600;
}
.text-accent-700 {
    color: $accent-700;
}
.text-muted {
    color: $text-muted;
}
.text-red{
    color: $danger;
}